.topDiv{
	background-color:#0000ff;
	height:80px;
	font-size:45px;
	color:#fff;
}
.facebookImg{
	height:200px;
	width:200px;
}
.topDIL{
	font-size:10px;
}
.iron{
   font-size:15px;
}
.jk{
	font-size:20px;
}
.gh{
	background-color:#800080;
	height:50px;
	width:125px;
	font-size:25px;
	color:#fff;
}
.IT{
	font-size:20px;
}